.input{
    background-color: rgb(129, 129, 129);
   
}

.add{
   
    background-color: black;
    padding: 15px 15px;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    margin-left: -500px;
    margin-top: 10px;
}
h2{
    text-align: left;
}