
.score_table{
   
    margin-left:150px;
    width: 80%;
}
th{
    color: rgb(250, 250, 250);
    font-weight: bold;
    margin-left: 15px;
    background-color: rgb(48, 48, 48);
    padding: 15px 12px;
}
.total{
    background-color: rgb(211, 211, 211);
    color: black;
}
.edit{
    
    padding: 15px 40px;
    border-radius: 300px;
    font-size: 20px;
    border: none;
    background-color: rgb(221, 43, 43);
}
.save{
    
    margin-left: 20px;
    padding: 15px 40px;
    border-radius: 300px;
    font-size: 20px;
    border: none;
    background-color: rgb(73, 245, 73);
}
.yai{
    float: right;
    margin-top: 150px;
    margin-right:150px;
    
    
}
.headd{
    font-weight: bold;
    float: left;
    margin-left: 150px;
    font-size: 35px;
    margin-bottom: 50px;
}
.save:active{
    background-color: rgb(138, 233, 158);
    transform: scale3d(5px) 5s;
}
.edit:active{
    background-color: rgb(253, 179, 150);
    transform: scale3d(5px) 5s;
}
