@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@700&family=Train+One&display=swap');


.title{
   margin-top: 100px;
   

}
.container{
    display: inline-block;
    margin:50px;
    font-family: 'Anton';
    background-color: rgb(168, 177, 185);
    border-radius: 10px;
    box-sizing: 0 14px 28px rgba(0,0,0,0.25), 0 10px
    10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 1000px;
    max-width: 100%;
    min-height: 480px;   
}

.form{
    margin-left: 100px;
    position: absolute;
}
.form-box input{
    border: none;
    padding: 12px 15px;
    margin-left: 35px;
    border-radius: 50px;
    width: 230px;
    background-color: rgb(248, 248, 248);
    
}

.form-click{
    margin-top: 20px;
    border-radius: 50px;
    border: 1px solid ;
    background-color: black;
    padding: 12px 15px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    font-size: 12px;
    color: #ddd;
    width: 60%;
}
input:focus{
    outline: none;
}

button:focus{
    outline: none;
   
}
button:active{
    transform: scale(0.95);
}
.select{
    align-items: center;
    background-color: #eee;
    border: none;
    padding: 0.1px 15px;
    margin-left: 250px;
    border-radius: 50px;
    width: 500px;
    
}
.signup{
    margin-bottom: 15px;
    border: 1px solid ;
    background-color:black;
    padding: 12px 15px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    font-size: 12px;
    color: #ddd;
    width: 30%;
    text-decoration: none;
    display: inline-block;
    
}
.signin{ 
    margin-bottom: 15px; 
    border: 1px solid ;
    background-color: maroon;
    padding: 12px 15px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    font-size: 12px;
    color: #ddd;
    width: 30%;
}
button .signin :hover{
    background-color: aqua;
}
