
.flex-container{
    display: flex;
    margin-top: 50px;
    align-items: center;
 
}

.flex-items-2{
    margin-top: -200px;
    margin-right:15px;
    margin-left: 70px;
    width: 1300px;
    background-color: rgb(165, 179, 179);
    height: 150px;
   
}

p{
    margin-top:150px;
    text-align: left;
}
.name{
    margin-top: 200px;
    text-align: left;
    font-size: 20px;
    font-family: 'verdana';
    
}
.email{
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
    
}
.e{
    font-size: 16px;
    margin-top: 0px;
    margin-left: 50px;
}
.infor{
    margin-left: 70px;
    margin-top: 50px;
    font-size: 50px;
}