h1{
    margin-top: 100px;
    margin-bottom: 20px;
}
.signup1{
    
    margin-bottom: 20px;
    border: 1px solid ;
    background-color: maroon;
    padding: 12px 15px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    font-size: 12px;
    color: #ddd;
    width: 30%;
    text-decoration: none;
    display: inline-block;
    
}
.signin1{  
    border: 1px solid ;
    background-color: black;
    padding: 12px 15px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    font-size: 12px;
    color: #ddd;
    width: 30%;
}


h2{
    font-size: 20px;
    text-align: left;
    margin-left: 300px;
    
}
.container1{
    display: inline-block;
    margin:50px;
    font-family: 'Anton';
    background-color: rgb(168, 177, 185);
    border-radius: 10px;
    box-sizing: 0 14px 28px rgba(0,0,0,0.25), 0 10px
    10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 1000px;
    max-width: 100%;
   height: 690px;
}
.ok{
    margin-top: 30px;
    border-radius: 50px;
    border: 1px solid ;
    background-color: black;
    padding: 12px 15px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    font-size: 12px;
    color: #ddd;
    width: 30%;
}

input{
   padding: 10px;
   margin-top: 8px;
   border-radius: 50px;
   display: inline-block;
   border: none;
   width: 230px;
   padding:12px 15px;
}